name: shoply
description: "A new Flutter project."

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.10.4


dependencies:
  flutter:
    sdk: flutter


  cupertino_icons: ^1.0.8
  flutter_screenutil: ^5.9.3
  shimmer_flutter: ^1.0.1


  flutter_bloc: ^9.1.1
  equatable: ^2.0.8

  dio: ^5.9.1
  pretty_dio_logger: ^1.4.0

  go_router: ^17.1.0

  flutter_dotenv: ^6.0.0
  get_it: ^9.2.1

  bot_toast: ^4.1.3

  cached_network_image: ^3.4.1
  flutter_cache_manager: ^3.3.0
  path_provider: ^2.1.5
  dartz: ^0.10.1

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^6.0.0
  build_runner: ^2.11.1
  json_serializable: ^6.13.0
  freezed_annotation: ^3.1.0
  flutter_launcher_icons: ^0.11.0


flutter_icons:
  android: true
  ios: true
  image_path: "assets/images/logo.png"
  remove_alpha_ios: true

flutter:

  uses-material-design: true

  assets:
    - .env
    - assets/images/
    - assets/fonts/

  fonts:
    - family: Cairo
      fonts:
        - asset: assets/fonts/cairo/Cairo-ExtraBold.ttf
          weight: 800
        - asset: assets/fonts/cairo/Cairo-Bold.ttf
          weight: 700
        - asset: assets/fonts/cairo/Cairo-SemiBold.ttf
          weight: 600
        - asset: assets/fonts/cairo/Cairo-Medium.ttf
          weight: 500
        - asset: assets/fonts/cairo/Cairo-Regular.ttf
          weight: 400
        - asset: assets/fonts/cairo/Cairo-Light.ttf
          weight: 300
        - asset: assets/fonts/cairo/Cairo-ExtraLight.ttf
          weight: 200
